* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Roboto', sans-serif;

    --gap-sm: 1rem;
    --gap-md: 2rem;
    --gap-lg: 3rem;

    --shadow:rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    --main-color:purple;
}



nav {
    background-color: rgb(214, 185, 241);
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}


main{
    padding: var(--gap-sm);
}


li {
    list-style-type: none;
}

a {
    color: #000000;
    text-decoration: none;
}

h1 {
    color: rgb(255, 0, 242);
}



.grid {
    display: grid;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

/*****************************/
/* Home                      */
/*****************************/

.stack {
    display: grid;
    grid-auto-flow: row;
    grid-gap: var(--gap-sm);
}

.columns {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: var(--gap-sm);
}

#articles {
    grid-gap: var(--gap-lg);
}


#articles article {
    padding: 1rem;
    box-shadow: var(--shadow);
}

#articles .created-at{
    justify-self: end;
}

#articles article h3{
    text-transform: capitalize;    
}
#articles .meta{
        grid-template-columns: 1fr min-content ;
}
#articles .buttons{
    grid-auto-columns: min-content;

}





/*****************************/
/* User                      */
/*****************************/


/*****************************/
/* inscription                      */
/*****************************/
.container {
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

#form input[type="text"],
#form input[type="pseudo"],
#form input[type="email"],
#form textarea,
#form input[type="password"] {
  width: 100%;
  border: 1px solid var(--main-color);
  background: #FFF;
  margin: 0 0 1rem;
  padding: 10px;
  
}



#form button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: var(--main-color);
    color: #FFF;
    margin: 0 0 5px;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    text-transform: capitalize;
  }

  .comments {
    padding: 1rem;
    box-shadow: var(--shadow);
  }

  .comment p{
    padding: 1rem;
    
  }

  li.comment{
    padding: var(--gap-md);
    box-shadow: var(--shadow);
    
  }
  